html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary{
    background-color: #5EBC67 !important;
    border-color: #5EBC67 !important;
}

.btn-primary:hover{
    background-color: #4FAA5D !important;
    border-color: #4FAA5D !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navbar {
    background-color: #5EBC67;
}

#navbar-logo {
  width: 100px;
}

.login-container{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form-container {
    text-align: left;
}

.login-register-button{
    width: 100%;
}

.register-container{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}