@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <h1>Welkom bij Sweatstats</h1>
    <div class="form-container mt-4">
        <form>
            <div class="mt-3">
                <label for="loginUsername">Username or E-Mail</label>
                <input type="text" name="loginUsername" id="loginUsername" class="form-control" />
            </div>
            <div class="mt-3">
                <label for="loginPassword">Password</label>
                <input type="password" name="loginPassword" id="loginPassword" class="form-control" />
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary login-register-button">Login</button>
            </div>
        </form>
    </div>
</div>
