@model OefeningViewModel
@{
    ViewData["Title"] = "Add Oefening";
}

<h1>Add Oefening</h1>
<div class="form-container mt-4">
    <form method="post" asp-controller="Oefening" asp-action="Add">
        <div asp-validation-summary="All"></div>
        <div class="mt-3">
            <label asp-for="Name"></label>
            <select class="form-control" asp-for="Name">
                @foreach (var oefening in Model.oefeningen)
                {
                    <option value="@oefening.Name">@oefening.Name</option>
                }
            </select>
        </div>
        <div class="mt-3">
            <label asp-for="Sets"></label>
            <input class="form-control" asp-for="Sets" />
        </div>
        <div class="mt-3">
            <label asp-for="minReps"></label>
            <input class="form-control" asp-for="minReps" />
        </div>
        <div class="mt-3">
            <label asp-for="maxReps"></label>
            <input class="form-control" asp-for="maxReps" />
        </div>
        <div class="mt-3">
            <label asp-for="weightKg"></label>
            <input class="form-control" asp-for="weightKg" />
        </div>
        <div class="mt-3">
            <input type="submit" value="Add" class="btn btn-primary login-register-button"/>
        </div>
    </form>
</div>