@model TrainingViewModel
@{
    ViewData["Title"] = "Training doen";
}

<h1 id="exerciseName"></h1>
<p>Set <span id="setCounter">1</span></p>
<p>Weight <span id="weightKg"></span>KG</p>
<p>min. Reps <span id="minReps"></span></p>
<p>max. Reps <span id="maxReps"></span></p>
<label for="reps">Reps</label>
<input id="reps" type="number" required/>
<button class="btn btn-primary" id="nextSet" type="submit">Next Set</button>

@section Scripts
{
    <script>
        function isNumber(num){
            return Number(num) === num;
        }
        
        function setExercise(exercise){
            $('#exerciseName').text(exercise.name);
            $('#weightKg').text(exercise.weightKg);
            $('#minReps').text(exercise.minReps);
            $('#maxReps').text(exercise.maxReps);
            
            console.log(exercise);
        }
    
        $(document).ready(function () {
            let exercises = @Html.Raw(Json.Serialize(Model.oefeningen));
            let currentExerciseIndex = 0;
            let currentExercise = exercises[currentExerciseIndex];
            
            let maxSets = currentExercise.sets;
            let maxReps = currentExercise.maxReps;
            console.log(maxSets);
            console.log(maxReps);
            console.log(currentExercise.id);
            
            setExercise(currentExercise);
            var reps = [];
            $('#nextSet').click(function () {
                reps.push($('#reps').val());
                console.log(reps);
                if (reps.length < maxSets) {
                    $('#reps').val('');
                    $('#setCounter').text(reps.length + 1);
                } else {
                    let check = reps.every(num => num >= maxReps);
                    if (check) {
                        let newWeight;
                        do{
                            newWeight = prompt('Enter new weight');
                        }while(!isNumber(Number(newWeight)));
                        console.log(newWeight);
                        $.ajax({
                            url: '@Url.Action("UpdateWeight", "Training")',
                            type: 'POST',
                            data: { id: currentExercise.id, weight: newWeight }
                        });
                    }
                    
                    let highestRep = Math.max(...reps);
                    
                    $.ajax({
                        url: '@Url.Action("LogExercise", "Training")',
                        type: 'POST',
                        data: { id: currentExercise.id, reps: highestRep, weight: currentExercise.weightKg}
                    });
                    
                    currentExerciseIndex++;
                    if (currentExerciseIndex < exercises.length) {
                        currentExercise = exercises[currentExerciseIndex];
                        setExercise(currentExercise);
                        reps = [];
                        $('#reps').val('');
                        $('#setCounter').text(1);
                    } else {
                        alert('Training is done');
                        let id = @Model.Id;
                        window.location.href = '/Training/Details/' + id;
                    }
                }
            });
        });
    </script>
}
