@{
   ViewData["Title"] = "Register";
}
<div class="register-container">
   <div class="form-container mt-4">
      <form>
            <div class="mt-3">
                <label for="registerUsername">Username</label>
                <input type="text" name="registerUsername" id="registerUsername" class="form-control" />
            </div>
            <div class="mt-3">
                <label for="registerEmail">E-Mail</label>
                <input type="email" name="registerEmail" id="registerEmail" class="form-control" />
            </div>
            <div class="mt-3">
                <label for="registerPassword">Password</label>
                <input type="password" name="registerPassword" id="registerPassword" class="form-control" />
            </div>
            <div class="mt-3">
                <label for="registerPasswordConfirm">Confirm Password</label>
                <input type="password" name="registerPasswordConfirm" id="registerPasswordConfirm" class="form-control" />
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary login-register-button">Register</button>
            </div>
      </form>
   </div>
</div>

